<div class="box m-a-0 bg-transparent">
  <div class="box-cell col-md-3 p-t-3">
    <h5 class="m-t-0 m-b-1 font-size-13">About Us</h5>
    <a href="#">Who we are</a><br>
    <a href="#">Jobs</a><br>
    <a href="#">Newsletters</a><br>
  </div>
  <div class="box-cell col-md-3 p-t-3">
    <h5 class="m-t-0 m-b-1 font-size-13">Help</h5>
    <a href="#">Support Center</a><br>
    <a href="#">Terms of Use</a><br>
    <a href="#">Privacy Policy</a><br>
  </div>
  <div class="box-cell col-md-3 p-t-3">
    <h5 class="m-t-0 m-b-1 font-size-13">Products</h5>
    <a href="#">Popular</a><br>
    <a href="#">Most rated</a><br>
    <a href="#">Recent</a><br>
  </div>
  <div class="box-cell col-md-3 p-t-3 valign-middle">
    <a href="#" class="display-block m-b-1 text-nowrap"><i class="fa fa-twitter"></i>&nbsp;&nbsp;@pixeladmin</a>
    <a href="#" class="display-block m-b-1 text-nowrap"><i class="fa fa-facebook"></i>&nbsp;&nbsp;PixelAdmin</a>
    <a href="#" class="display-block text-nowrap"><i class="fa fa-envelope"></i>&nbsp;&nbsp;support@pixeladmin.com</a>
  </div>
</div>

<hr class="page-wide-block">

<span class="text-muted">Copyright © 2017 PixelAdmin LLC. All rights reserved.</span>
