
// Core

@import 'variables';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../custom/scss/variables';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import 'mixins';
@import 'grid';
@import 'utilities';
@import 'typography';
@import 'base';
@import 'tables';
@import 'forms';
@import 'buttons';

// Elements

@import '../libs/animatewithsass/animate.scss';
@import 'dropdowns';
@import 'button-groups';
@import 'navs';
@import 'breadcrumbs';
@import 'pagination';
@import 'labels';
@import 'thumbnails';
@import 'alerts';
@import 'progress-bars';
@import 'list-group';
@import 'panels';
@import 'wells';
@import 'modals';
@import 'tooltip';
@import 'popovers';
@import 'button-label';
@import 'accordions';
@import 'notes';
@import 'switchers';
@import 'custom-forms';
@import 'px-sidebar';
@import 'navbar';
@import 'px-navbar';
@import 'px-nav';
@import 'px-footer';
@import 'boxes';
@import 'px-wizard';

// Plugins

@import 'plugins/perfect-scrollbar';
@import 'plugins/px-tab-resize';
@import 'plugins/px-expanding-input';
@import 'plugins/px-validate';
@import 'plugins/px-responsive-bg';
@import 'plugins/select2';
@import 'plugins/ui-select';
@import 'plugins/bootstrap-datepicker';
@import 'plugins/bootstrap-timepicker';
@import 'plugins/jquery-minicolors';
@import 'plugins/datatables';
@import 'plugins/growl';
@import 'plugins/dropzone';
@import 'plugins/summernote';
@import 'plugins/bootstrap-markdown';
@import 'plugins/ion.rangeSlider';
@import 'plugins/jquery-sortable';
@import 'plugins/bootstrap-touchspin';
@import 'plugins/quick-select';
@import 'plugins/editable-table';
@import 'plugins/toastr';
@import 'plugins/bootstrap-daterangepicker';
@import 'plugins/bootstrap-tagsinput';
@import 'plugins/ng-tags-input';
@import 'plugins/sortable';
@import 'plugins/bootstrap-slider';
@import 'plugins/nouislider';
@import 'plugins/owl.carousel';

// Charts

@import 'plugins/morris.js';
@import 'plugins/flot';
@import 'plugins/chartist';
@import 'plugins/c3';
@import 'plugins/easy-pie-chart';

// Custom SCSS

@import '../custom/custom';
