<!-- Nav -->

<button type="button" class="px-nav-toggle" data-toggle="px-nav">
  <span class="px-nav-toggle-arrow"></span>
  <span class="navbar-toggle-icon"></span>
  <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
</button>

<ul class="px-nav-content">
  <li class="px-nav-item" ui-sref-active="active">
    <a href ui-sref="pages.main"><i class="px-nav-icon ion-home"></i><span class="px-nav-label">Main page</span></a>
  </li>
  <li class="px-nav-item" ui-sref-active="active">
    <a href ui-sref="pages.second"><i class="px-nav-icon ion-star"></i><span class="px-nav-label">Second page</span></a>
  </li>
</ul>
