//
// Widgets / More link
// --------------------------------------------------

.widget-more-link {
  text-align: center;
  padding: 10px 0 !important;
  border-top: 1px solid;
  border-color: $panel-inner-border;
  display: block;
  text-decoration: none !important;
  font-size: 10px;
  font-weight: 600;
  color: lighten($text-color, 27%);

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, .03);
    color: $text-color;
  }
}
