<div ng-controller="ChartsSparklineCtrl as ctrl">
  <div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-stats-bars"></i>Charts / </span>Sparkline</h1>
    <a href="http://omnipotent.net/jquery.sparkline" target="_blank" class="page-header-text text-muted font-weight-light pull-md-right col-xs-12 width-md-auto width-lg-auto width-xl-auto p-x-0">http://omnipotent.net/jquery.sparkline</a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-title">Graph</div>
        <hr>

        <div class="panel-body">
          <div px-sparkline ng-model="ctrl.lineData" options="ctrl.lineOptions"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel">
        <div class="panel-title">Bars</div>
        <hr>

        <div class="panel-body">
          <div px-sparkline ng-model="ctrl.barsData" options="ctrl.barsOptions"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-title">Tristrate</div>
        <hr>

        <div class="panel-body">
          <div px-sparkline ng-model="ctrl.tristrateData" options="ctrl.tristrateOptions"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel">
        <div class="panel-title">Discrete</div>
        <hr>

        <div class="panel-body">
          <div px-sparkline ng-model="ctrl.discreteData" options="ctrl.discreteOptions"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-title">Bullet</div>
        <hr>

        <div class="panel-body">
          <div px-sparkline ng-model="ctrl.bulletData" options="ctrl.bulletOptions"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel">
        <div class="panel-title">Pie</div>
        <hr>

        <div class="panel-body text-xs-center">
          <div px-sparkline ng-model="ctrl.pieData" options="ctrl.pieOptions"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-title">Box</div>
        <hr>

        <div class="panel-body">
          <div px-sparkline ng-model="ctrl.boxData" options="ctrl.boxOptions"></div>
        </div>
      </div>
    </div>
  </div>
</div>
