<!-- Custom styling -->
<style>
  .widget-pricing {
    max-width: 800px;
    margin-bottom: 20px;
  }

  .widget-pricing:not(.widget-pricing-expanded) {
    margin-bottom: 40px;
  }
</style>
<!-- / Custom styling -->

<div class="page-header">
  <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-erlenmeyer-flask"></i>Widgets / </span>Pricing</h1>
</div>

<h4 class="m-y-4 text-md-center">Basic</h4>

<!-- Basic -->

<div class="widget-pricing">
  <div class="widget-pricing-inner">

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Starter</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>12</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>5</strong> users<br>
        <strong>10</strong> projects<br>
        <strong>100GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="label label-ribbon right label-success"><strong>BEST CHOICE</strong></div>
      <div class="widget-pricing-plan">Pro</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>36</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>20</strong> users<br>
        <strong>100</strong> projects<br>
        <strong>300GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Team</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>200</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>Unlimited</strong> users<br>
        <strong>Unlimited</strong> projects<br>
        <strong>1000GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
    </div>

  </div>
</div>

<!-- / Basic -->

<hr class="page-wide-block">

<h4 class="m-y-4 text-md-center">Simple</h4>

<!-- Simple -->

<div class="widget-pricing widget-pricing-simple">
  <div class="widget-pricing-inner">

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Starter</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>12</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>5</strong> users<br>
        <strong>10</strong> projects<br>
        <strong>100GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Pro</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>36</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>20</strong> users<br>
        <strong>100</strong> projects<br>
        <strong>300GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Team</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>200</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>Unlimited</strong> users<br>
        <strong>Unlimited</strong> projects<br>
        <strong>1000GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
    </div>

  </div>
</div>

<!-- / Simple -->

<hr class="page-wide-block">

<h4 class="m-y-4 text-md-center">Expanded</h4>

<!-- Expanded -->

<div class="widget-pricing widget-pricing-expanded">
  <div class="widget-pricing-inner row">
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Starter</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>12</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>5</strong> users<br>
          <strong>10</strong> projects<br>
          <strong>100GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="label label-ribbon right label-success"><strong>BEST CHOICE</strong></div>
        <div class="widget-pricing-plan">Pro</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>36</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>20</strong> users<br>
          <strong>100</strong> projects<br>
          <strong>300GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Team</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>200</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>Unlimited</strong> users<br>
          <strong>Unlimited</strong> projects<br>
          <strong>1000GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
      </div>
    </div>

  </div>
</div>

<!-- Expanded + Simple -->
<div class="widget-pricing widget-pricing-expanded widget-pricing-simple">
  <div class="widget-pricing-inner row">
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Starter</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>12</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>5</strong> users<br>
          <strong>10</strong> projects<br>
          <strong>100GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="label label-ribbon right label-success"><strong>BEST CHOICE</strong></div>
        <div class="widget-pricing-plan">Pro</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>36</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>20</strong> users<br>
          <strong>100</strong> projects<br>
          <strong>300GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Team</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>200</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>Unlimited</strong> users<br>
          <strong>Unlimited</strong> projects<br>
          <strong>1000GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
      </div>
    </div>

  </div>
</div>

<!-- / Expanded -->

<hr class="page-wide-block">

<h4 class="m-y-4 text-md-center">Active + Hover</h4>

<!-- Active + Hover -->

<!-- Basic -->
<div class="widget-pricing widget-pricing-hover">
  <div class="widget-pricing-inner">

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Starter</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>12</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>5</strong> users<br>
        <strong>10</strong> projects<br>
        <strong>100GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4 widget-pricing-active">
      <div class="label label-ribbon right label-success"><strong>BEST CHOICE</strong></div>
      <div class="widget-pricing-plan">Pro</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>36</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>20</strong> users<br>
        <strong>100</strong> projects<br>
        <strong>300GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Team</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>200</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>Unlimited</strong> users<br>
        <strong>Unlimited</strong> projects<br>
        <strong>1000GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
    </div>

  </div>
</div>

<!-- Basic + Simple -->
<div class="widget-pricing widget-pricing-simple widget-pricing-hover">
  <div class="widget-pricing-inner">

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Starter</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>12</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>5</strong> users<br>
        <strong>10</strong> projects<br>
        <strong>100GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4 widget-pricing-active">
      <div class="widget-pricing-plan">Pro</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>36</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>20</strong> users<br>
        <strong>100</strong> projects<br>
        <strong>300GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Team</div>
      <div class="widget-pricing-section">
        <div class="font-size-24"><small>$</small>200</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>Unlimited</strong> users<br>
        <strong>Unlimited</strong> projects<br>
        <strong>1000GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
    </div>

  </div>
</div>

<!-- Expanded -->
<div class="widget-pricing widget-pricing-expanded widget-pricing-hover">
  <div class="widget-pricing-inner row">
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Starter</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>12</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>5</strong> users<br>
          <strong>10</strong> projects<br>
          <strong>100GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item widget-pricing-active">
        <div class="label label-ribbon right label-success"><strong>BEST CHOICE</strong></div>
        <div class="widget-pricing-plan">Pro</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>36</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>20</strong> users<br>
          <strong>100</strong> projects<br>
          <strong>300GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Team</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>200</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>Unlimited</strong> users<br>
          <strong>Unlimited</strong> projects<br>
          <strong>1000GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
      </div>
    </div>

  </div>
</div>

<!-- Expanded + Simple -->
<div class="widget-pricing widget-pricing-expanded widget-pricing-simple widget-pricing-hover">
  <div class="widget-pricing-inner row">
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Starter</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>12</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>5</strong> users<br>
          <strong>10</strong> projects<br>
          <strong>100GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item widget-pricing-active">
        <div class="label label-ribbon right label-success"><strong>BEST CHOICE</strong></div>
        <div class="widget-pricing-plan">Pro</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>36</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>20</strong> users<br>
          <strong>100</strong> projects<br>
          <strong>300GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <div class="widget-pricing-plan">Team</div>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>200</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>Unlimited</strong> users<br>
          <strong>Unlimited</strong> projects<br>
          <strong>1000GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
      </div>
    </div>

  </div>
</div>

<!-- / Active + Hover -->

<hr class="page-wide-block">

<h4 class="m-y-4 text-md-center">With colors</h4>

<!-- Colors -->

<!-- Basic -->
<div class="widget-pricing">
  <div class="widget-pricing-inner">

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Starter</div>
      <div class="widget-pricing-section p-y-2 bg-info">
        <div class="font-size-24"><small>$</small>12</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>5</strong> users<br>
        <strong>10</strong> projects<br>
        <strong>100GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="label label-ribbon right label-success"><strong>BEST CHOICE</strong></div>
      <div class="widget-pricing-plan">Pro</div>
      <div class="widget-pricing-section p-y-2 bg-success">
        <div class="font-size-24"><small>$</small>36</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>20</strong> users<br>
        <strong>100</strong> projects<br>
        <strong>300GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
    </div>

    <div class="widget-pricing-item col-md-4">
      <div class="widget-pricing-plan">Team</div>
      <div class="widget-pricing-section p-y-2 bg-danger">
        <div class="font-size-24"><small>$</small>200</div>
        <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
      </div>
      <div class="widget-pricing-section">
        <strong>Unlimited</strong> users<br>
        <strong>Unlimited</strong> projects<br>
        <strong>1000GB</strong> space<br>
      </div>
      <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
    </div>

  </div>
</div>

<!-- Expanded -->
<div class="widget-pricing widget-pricing-expanded">
  <div class="widget-pricing-inner row">
    <div class="col-md-4">
      <div class="widget-pricing-item bg-info">
        <div class="widget-pricing-plan">Starter</div>
        <div class="widget-pricing-section p-y-2 bg-info darker">
          <div class="font-size-24"><small>$</small>12</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>5</strong> users<br>
          <strong>10</strong> projects<br>
          <strong>100GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-info btn-outline btn-outline-colorless-inverted">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item bg-success">
        <div class="label label-ribbon right label-primary"><strong>BEST CHOICE</strong></div>
        <div class="widget-pricing-plan">Pro</div>
        <div class="widget-pricing-section p-y-2 bg-success darker">
          <div class="font-size-24"><small>$</small>36</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>20</strong> users<br>
          <strong>100</strong> projects<br>
          <strong>300GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-success btn-outline btn-outline-colorless-inverted">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item bg-danger">
        <div class="widget-pricing-plan">Team</div>
        <div class="widget-pricing-section p-y-2 bg-danger darker">
          <div class="font-size-24"><small>$</small>200</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>Unlimited</strong> users<br>
          <strong>Unlimited</strong> projects<br>
          <strong>1000GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-danger btn-outline btn-outline-colorless-inverted">Contact Us</button></div>
      </div>
    </div>

  </div>
</div>

<!-- / Colors -->
