<!-- Custom styling -->
<style>

  /* Common styles */

  .box, .box-row, .box-cell { overflow: visible !important; -webkit-mask-image: none !important; }
  .page-messages-container > .box-row > .box-cell { display: block !important; }

  .page-messages-label {
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 999px;
    float: left;
    margin-top: 6px;
    margin-right: 12px;
  }

  html[dir="rtl"] .page-messages-label {
    float: right;
    margin-left: 12px;
    margin-right: 0;
  }

  #page-messages-aside-nav {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .3s;
    transition: max-height .3s;
  }

  #page-messages-aside-nav.show { max-height: 2000px; }

  @media (min-width: 768px) {
    .page-messages-container > .box-row > .box-cell {
      display: table-cell !important;
      padding-top: 15px;
    }
    .page-messages-aside { width: 200px; }
    .page-messages-content { padding-left: 20px; }

    html[dir="rtl"] .page-messages-content {
      padding-left: 0;
      padding-right: 20px;
    }

    #page-messages-aside-nav { max-height: none !important; }

    .page-messages-wide-buttons .btn { width: 60px; }
  }

  /* Special styles */

  .page-messages-item-label {
    vertical-align: text-bottom;
  }
</style>
<!-- / Custom styling -->

<div class="page-messages-container box m-a-0 bg-transparent position-static">
  <div class="box-row">

    <!-- Aside -->

    <div class="page-messages-aside box-cell valign-top">
      <div class="clearfix">

        <!-- Controls -->

        <div class="box-container">
          <div class="box-row">
            <div class="box-cell"><a ui-sref="pages.messages.new" class="btn btn-block btn-primary"><span class="btn-label-icon left fa fa-pencil-square-o"></span>New message</a></div>
            <div class="box-cell p-l-3 hidden-md hidden-lg hidden-xl" style="width: 60px;"><button type="button" class="btn btn-block btn-outline btn-outline-colorless p-x-0" id="page-messages-aside-nav-toggle" ng-click="asideNavExpanded = !asideNavExpanded" ng-class="{ active: asideNavExpanded }"><i class="fa fa-bars"></i></button></div>
          </div>
        </div>

        <!-- / Controls -->

        <div class="m-t-3" id="page-messages-aside-nav" ng-class="{ show: asideNavExpanded }">
          <div class="list-group m-b-1">
            <a href="#" class="list-group-item"><i class="list-group-icon fa fa-inbox"></i>Inbox<span class="label">20</span></a>
            <a href="#" class="list-group-item"><i class="list-group-icon fa fa-star"></i>Starred<span class="label">43</span></a>
            <a href="#" class="list-group-item"><i class="list-group-icon fa fa-envelope"></i>Sent</a>
            <a href="#" class="list-group-item"><i class="list-group-icon fa fa-exclamation"></i>Important</a>
            <a href="#" class="list-group-item"><i class="list-group-icon fa fa-file-text-o"></i>Drafts<span class="label">11</span></a>
            <a href="#" class="list-group-item"><i class="list-group-icon fa fa-trash-o"></i>Trash</a>
          </div>
          <a href="#" class="text-muted">+ Add More</a>

          <h6 class="m-t-4 m-b-1 text-muted">LABELS</h6>
          <div class="list-group m-b-1">
            <a href="#" class="list-group-item"><i class="page-messages-label bg-success"></i>Client</a>
            <a href="#" class="list-group-item"><i class="page-messages-label bg-danger"></i>Social</a>
            <a href="#" class="list-group-item"><i class="page-messages-label bg-info"></i>Family</a>
            <a href="#" class="list-group-item"><i class="page-messages-label bg-warning"></i>Friends</a>
          </div>
          <a href="#" class="text-muted">+ Add More</a>

          <!-- Spacer -->
          <div class="m-t-3 visible-xs visible-sm"></div>
        </div>

      </div>
    </div>

    <!-- / Aside -->

    <hr class="page-wide-block m-t-0 visible-xs visible-sm">

    <!-- Content -->

    <div class="page-messages-content box-cell valign-top">
      <div class="panel">
        <div class="panel-title">
          <a href="#" class="pull-xs-left m-r-1 text-muted font-size-14"><i class="fa fa-star"></i></a>
          <span class="font-size-13"><span class="page-messages-item-label label label-success">Client</span></span>&nbsp;&nbsp;&nbsp;New design concepts <i class="fa fa-paperclip"></i>
        </div>

        <hr class="m-y-0">

        <!-- Controls -->

        <div class="panel-body p-y-1 clearfix">
          <div class="btn-toolbar page-messages-wide-buttons pull-left" role="toolbar">
            <div class="btn-group">
              <button type="button" class="btn"><i class="fa fa-chevron-left"></i></button>
            </div>

            <div class="btn-group">
              <button type="button" class="btn"><i class="fa fa fa-file-text-o"></i></button>
              <button type="button" class="btn"><i class="fa fa-exclamation-circle"></i></button>
              <button type="button" class="btn"><i class="fa fa-trash-o"></i></button>
            </div>
          </div>

          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
              <button type="button" class="btn"><i class="fa fa-mail-reply"></i></button>
              <div uib-dropdown class="btn-group">
                <button uib-dropdown-toggle type="button" class="btn"></button>
                <ul uib-dropdown-menu class="dropdown-menu-right" role="menu">
                  <li><a href="#"><i class="fa fa-mail-reply text-muted"></i>&nbsp;&nbsp;Reply</a></li>
                  <li><a href="#"><i class="fa fa-mail-forward text-muted"></i>&nbsp;&nbsp;Forward</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- / Controls -->

        <hr class="m-y-0">

        <!-- Info -->

        <div class="panel-body p-y-1 clearfix">
          <div class="box m-a-0 valign-middle">
            <div class="box-cell col-md-8">
              <div class="box-container">
                <div class="box-row">
                  <div class="box-cell" style="width: 40px;">
                    <img src="assets/demo/avatars/3.jpg" alt="" class="border-round" style="width: 100%;">
                  </div>
                  <div class="box-cell p-l-2">
                    <div class="font-size-14">Michelle Bortz</div>
                    <div class="font-size-12 text-muted">mbortz@example.com</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-cell text-muted col-md-4 text-md-right">
              <!-- Spacer -->
              <div class="m-t-2 visible-xs visible-sm"></div>

              August 11 (3 days ago)
            </div>
          </div>
        </div>

        <!-- / Info -->

        <hr class="m-y-0">

        <!-- Message -->

        <div class="panel-body font-size-14">
          <p>Hi John,</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <!-- / Message -->

        <hr class="m-y-0">

        <!-- Message -->

        <div class="panel-body">
          <table class="table m-a-0 table-striped">
            <tbody>
              <tr>
                <td class="b-a-0 p-x-2">
                  <div class="pull-md-left">
                    <span class="label label-warning">HTML</span>&nbsp;&nbsp;&nbsp;<a href="#"><strong>index.html</strong></a>&nbsp;<span class="text-muted">(12.6 KB)</span>
                  </div>

                  <!-- Spacer -->
                  <div class="m-t-1 visible-xs visible-sm"></div>

                  <div class="pull-md-right">
                    <a href="#">Download</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">View</a>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="b-a-0 p-x-2">
                  <div class="pull-md-left">
                    <span class="label label-info">CSS</span>&nbsp;&nbsp;&nbsp;<a href="#"><strong>style.css</strong></a>&nbsp;<span class="text-muted">(12.6 KB)</span>
                  </div>

                  <!-- Spacer -->
                  <div class="m-t-1 visible-xs visible-sm"></div>

                  <div class="pull-md-right">
                    <a href="#">Download</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">View</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- / Message -->

        <hr class="m-y-0">

        <!-- Form -->

        <form class="panel-body" ng-controller="PagesMessagesItemReplyCtrl as ctrl">
          <px-expanding-input on-expanded="ctrl.onExpand" class="m-b-2">
            <textarea px-expanding-input-control id="message-reply" class="form-control" rows="4" placeholder="Click here to Reply or Forward"></textarea>
            <px-expanding-input-content>
              <button type="submit" class="btn btn-primary pull-md-right">Send message</button>
            </px-expanding-input-content>
          </px-expanding-input>
        </form>

        <!-- / Form -->

      </div>
    </div>

    <!-- / Content -->

  </div>
</div>
