@using Meghan_FinancialPortal.Models
@model LoginViewModel

<div class="page-header m-b-0 p-b-0 b-b-0">
    <h1>Login</h1>
    <ul class="nav nav-tabs page-block m-t-4" id="account-tabs">
        <li class="active">
            <a href="#account-profile" data-toggle="tab">
                Login
            </a>
        </li>
    </ul>
</div>
<div class="tab-content p-y-4">
    <!-- Login tab -->
    <div class="tab-pane fade in active" id="account-profile">
        <div class="row">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col-md-8 col-lg-9", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="p-x-1">
                    <fieldset class="form-group form-group-lg">
                        <label for="account-email">Email</label>
                        <input type="email" class="form-control" name="Email" id="account-email">
                    </fieldset>
                    <fieldset class="form-group form-group-lg">
                        <label for="account-location">Password</label>
                        <input type="password" class="form-control" name="Password" id="account-location">
                    </fieldset>
                    <button type="submit" class="btn btn-lg btn-primary m-t-3">Login</button>
                    <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-lg btn-info m-t-3" id="forgotPassBtn">Forgot Password?</a>
                </div>
            }
            <div class="p-x-1">
                <fieldset class="form-group form-group-lg">
                    <label for="account-social-facebook">Third party logins</label>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </fieldset>
            </div>
            <!-- Spacer -->
            <div class="m-t-4 visible-xs visible-sm"></div>
        </div>
    </div>
    <!-- / Login tab -->
</div>