//
// Themes / Candy Green
// --------------------------------------------------

@import '../../variables';
@import '../../../libs/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../custom/scss/variables';
@import '../../../libs/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../mixins';


$theme-primary-color: #50b755;


// Generate theme
//

@include pixel-theme(

  // Basic
  //

  $primary-color:        $theme-primary-color,
  $primary-text-color:   #fff,
  $primary-border-color: darken($theme-primary-color, 6%),

  $body-bg:              #f6f6f6,
  $panel-border-color:   #e2e2e2,
  $header-bg:            transparent,
  $header-border-color:  rgba(0, 0, 0, .07),

  // Px-Navbar element
  //

  $px-navbar: (
    bg:                             $theme-primary-color,
    border-color:                   rgba(0, 0, 0, .09),
    link-color:                     #fff,
    link-hover-color:               rgba(255, 255, 255, .8),
    link-hover-bg:                  rgba(0, 0, 0, .04),
    shadow:                         "0 1px 1px rgba(0, 0, 0 , .1)",

    brand-bg:                       $theme-primary-color,
    brand-link-color:               #fff,
    brand-link-hover-color:         #fff,

    collapse-bg:                    desaturate(darken($theme-primary-color, 5%), 5%),
    collapse-border-color:          desaturate(darken($theme-primary-color, 9%), 9%),
    collapse-dropdown-bg:           rgba(255, 255, 255, .06),
    collapse-dropdown-border-color: saturate(lighten($theme-primary-color, 3%), 3%),

    form-control-bg:                rgba(255, 255, 255, .3),
    form-control-border-color:      transparent,
    form-control-color:             #fff,

    scrollbar-color:                rgba(255, 255, 255, .5),
    scrollbar-rail-color:           transparent,

    enable-transitions:             false
  ),

  // Px-Nav element
  //

  $px-nav: (
    toggle-color:              #fff,
    toggle-bg:                 $theme-primary-color,

    bg:                        #5b605a,
    color:                     #c5cbc4,
    link-hover-color:          #fff,
    link-hover-bg:             rgba(0, 0, 0, .08),

    // Dropdowns
    dropdown-bg:               #525652,
    dropdown-menu-title-color: #fff,
    dropdown-menu-title-bg:    darken(#5b605a, 8%),

    // Active
    active-color:              #fff,
    active-bg:                 lighten($theme-primary-color, 5%),
    active-icon-color:         #fff,

    scrollbar-color:           rgba(255, 255, 255, .3),
    scrollbar-rail-color:      transparent,

    toggle-border-color:       rgba(0, 0, 0, .09),
    border-color:              false,
    item-border-color:         #545953,
    box-border-color:          #545953,

    tooltip-bg:                $theme-primary-color,
    tooltip-color:             #fff,

    dimmer-bg:                 rgba(#485056, .5),

    animate-items:             true
  ),

  // Px-Footer element
  //

  $px-footer: (
    color:            rgba(255, 255, 255, .5),
    bg:               #676c67,

    link-color:       rgba(255, 255, 255, .6),
    link-hover-color: #fff,

    muted-color:      #a3a9a2,
    border-color:     false,
    hr-color:         #717770
  )
);

// Custom styles
//

// PxNavbar
@if mixin-exists(px-navbar-theme) {
  @media (min-width: $screen-md-min) {
    .px-navbar .dropdown-menu,
    .px-navbar .dropdown-multi-column { background: #fff; }

    .px-navbar .navbar-nav > li > .dropdown-menu,
    .px-navbar .dropdown-multi-column {
      border-top: 0;
      margin-left: -1px;
    }

    .px-navbar .dropdown-menu {
      a,
      a:hover,
      a:focus { color: $text-color; }

      > li > a:hover,
      > li > a:focus,
      .widget-more-link:hover,
      .widget-more-link:focus { background: $dropdown-link-hover-bg; }

      .divider { background: $dropdown-divider-bg !important; }
      .ps-scrollbar-x,
      .ps-scrollbar-y { background: #aaa !important; }
    }

    .px-navbar .dropdown-menu .dropdown-toggle:hover > a {
      background: $dropdown-link-hover-bg;
      color: $text-color;
    }

    .px-navbar .dropdown-multi-column .dropdown-menu { border-color: $dropdown-divider-bg; }

    .px-navbar [class^="widget-"],
    .px-navbar [class*=" widget-"] { border-color: $panel-inner-border; }
  }
}

.pace-progress { background: darken($theme-primary-color, 13%); }
