//
// Utilities / Border radius
// --------------------------------------------------

.border-rounded { border-radius: $border-radius-base !important; }
.border-round { border-radius: 99999px !important; }
.border-radius-0 { border-radius: 0 !important; }
