<!-- Custom styling -->
<style>
  .page-blog-post-image.page-header {
    padding: 0;
    border: none;
    margin-bottom: 0;
  }

  .page-blog-post-image img {
    width: 100%;
  }

  .page-blog-post-content {
    font-size: 18px;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    line-height: 1.7;
    padding-bottom: 25px;
  }

  .page-blog-post-content img {
    max-width: 100%;
  }

  .page-blog-post-comments {
    margin-left: -15px;
    margin-right: -15px;
  }
</style>
<!-- / Custom styling -->

<div class="page-blog-post-image page-header">
  <img src="assets/demo/blog/1.jpg" alt="">
</div>

<!-- Post -->

<div class="page-blog-post-content panel page-block m-b-0 p-x-4 p-b-4 b-a-0 border-radius-0 clearfix">
  <h1>7 future web design trends</h1>

  <p>
    Nunc quis ipsum in ligula fringilla consectetur ullamcorper ut tortor.
    Donec lobortis enim ac eleifend ornare.
  </p>

  <h3>1. First section</h3>
  <p>
    In enim lectus, dignissim nec sagittis at, varius vitae dolor. Quisque
    risus eros, laoreet at rutrum vel, gravida eget nulla. Donec blandit
    dignissim lorem elementum molestie. Fusce vitae metus quis dui lobortis
    pulvinar nec ac tellus.
  </p>
  <p>
    Morbi non dolor sed tortor dapibus placerat vel sed tortor.
    Pellentesque maximus eleifend dui nec condimentum. Etiam malesuada eu
    nunc sed pharetra. Vestibulum vel arcu arcu. Cras laoreet enim ac
    hendrerit placerat.
  </p>

  <blockquote>
    Morbi non dolor sed tortor dapibus placerat vel sed tortor.
    Pellentesque maximus eleifend dui nec condimentum. Etiam malesuada eu
    nunc sed pharetra. Vestibulum vel arcu arcu. Cras laoreet enim ac
    hendrerit placerat.
  </blockquote>

  <p>
    Nunc quis ipsum in ligula fringilla consectetur ullamcorper ut tortor.
    Donec lobortis enim ac eleifend ornare.
  </p>

  <h3>2. Second section</h3>
  <p>
    In enim lectus, dignissim nec sagittis at, varius vitae dolor. Quisque
    risus eros, laoreet at rutrum vel, gravida eget nulla. Donec blandit
    dignissim lorem elementum molestie. Fusce vitae metus quis dui lobortis
    pulvinar nec ac tellus.
  </p>

  <p>
    <br>
    <img src="assets/demo/blog/2.jpg" alt="">
    <br>
    <br>
  </p>

  <p>
    Morbi non dolor sed tortor dapibus placerat vel sed tortor.
    Pellentesque maximus eleifend dui nec condimentum. Etiam malesuada eu
    nunc sed pharetra. Vestibulum vel arcu arcu. Cras laoreet enim ac
    hendrerit placerat.
  </p>
</div>

<!-- / Post -->

<!-- Post footer -->
<!-- panel page-block p-x-4 m-b-0  clearfix -->
<div class="panel page-wide-block p-x-4 p-b-3 b-x-0 b-t-0 border-radius-0 clearfix">
  <a href="#" class="label label-outline">Webdesign</a>
  <a href="#" class="label label-outline">UI / UX</a>
  <a href="#" class="label label-outline">Coding</a>

  <hr class="page-wide-block m-y-3">

  <div class="row">
    <div class="col-xs-9 col-md-10">
      <div class="box m-a-0 b-a-0">
        <div class="box-row valign-middle">
          <div class="box-cell" style="width: 40px">
            <img src="assets/demo/avatars/1.jpg" alt="" class="border-round" style="width: 100%;">
          </div>
          <div class="box-cell p-l-2">
            <span class="text-muted">by</span> <a href="#">John Doe</a>
            <div class="text-muted font-size-11"><strong>JUN 8, 2016</strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-md-2 p-t-1 text-xs-right font-size-14 text-muted">
      <a href="#"><i class="fa fa-heart-o"></i> 45</a>
    </div>
  </div>
</div>

<!-- / Post footer -->

<h4 class="page-block m-t-4 p-x-4">8 comments</h4>

<hr class="m-b-1">

<!-- Comments -->

<div class="page-block p-x-4">
  <div class="page-blog-post-comments">
    <div class="widget-tree-comments-item">
      <img src="assets/demo/avatars/2.jpg" alt="" class="widget-tree-comments-avatar">
      <div class="widget-tree-comments-header">
        <a href="#" title="">Robert Jang</a><span>&nbsp;&nbsp;14 hours ago</span>
      </div>
      <div class="widget-tree-comments-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      </div>
      <div class="widget-tree-comments-footer">
        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="#">Reply</a>
      </div>

      <!-- Second-level comment -->
      <div class="widget-tree-comments-item">
        <img src="assets/demo/avatars/4.jpg" alt="" class="widget-tree-comments-avatar">
        <div class="widget-tree-comments-header">
          <a href="#" title="">Timothy Owens</a><span>&nbsp;&nbsp;14 hours ago</span>
        </div>
        <div class="widget-tree-comments-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        </div>
        <div class="widget-tree-comments-footer">
          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
          &nbsp;&nbsp;·&nbsp;&nbsp;
          <a href="#">Reply</a>
        </div>
      </div>

      <!-- Second-level comment -->
      <div class="widget-tree-comments-item">
        <img src="assets/demo/avatars/5.jpg" alt="" class="widget-tree-comments-avatar">
        <div class="widget-tree-comments-header">
          <a href="#" title="">Denise Steiner</a><span>&nbsp;&nbsp;14 hours ago</span>
        </div>
        <div class="widget-tree-comments-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        </div>
        <div class="widget-tree-comments-footer">
          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
          &nbsp;&nbsp;·&nbsp;&nbsp;
          <a href="#">Reply</a>
        </div>

        <!-- Third-level comment -->
        <div class="widget-tree-comments-item">
          <img src="assets/demo/avatars/1.jpg" alt="" class="widget-tree-comments-avatar">
          <div class="widget-tree-comments-header">
            <a href="#" title="">John Doe</a><span>&nbsp;&nbsp;14 hours ago</span>
          </div>
          <div class="widget-tree-comments-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
          <div class="widget-tree-comments-footer">
            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="#">Reply</a>
          </div>
        </div>
      </div>
    </div>

    <div class="widget-tree-comments-item">
      <img src="assets/demo/avatars/3.jpg" alt="" class="widget-tree-comments-avatar">
      <div class="widget-tree-comments-header">
        <a href="#" title="">Michelle Bortz</a><span>&nbsp;&nbsp;14 hours ago</span>
      </div>
      <div class="widget-tree-comments-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      </div>
      <div class="widget-tree-comments-footer">
        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="#">Reply</a>
      </div>
    </div>

    <div class="widget-tree-comments-item">
      <img src="assets/demo/avatars/4.jpg" alt="" class="widget-tree-comments-avatar">
      <div class="widget-tree-comments-header">
        <a href="#" title="">Timothy Owens</a><span>&nbsp;&nbsp;14 hours ago</span>
      </div>
      <div class="widget-tree-comments-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      </div>
      <div class="widget-tree-comments-footer">
        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="#">Reply</a>
      </div>
    </div>

    <div class="widget-tree-comments-item">
      <img src="assets/demo/avatars/2.jpg" alt="" class="widget-tree-comments-avatar">
      <div class="widget-tree-comments-header">
        <a href="#" title="">Robert Jang</a><span>&nbsp;&nbsp;14 hours ago</span>
      </div>
      <div class="widget-tree-comments-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      </div>
      <div class="widget-tree-comments-footer">
        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="#">Reply</a>
      </div>
    </div>

    <div class="widget-tree-comments-item">
      <img src="assets/demo/avatars/5.jpg" alt="" class="widget-tree-comments-avatar">
      <div class="widget-tree-comments-header">
        <a href="#" title="">Denide Steiner</a><span>&nbsp;&nbsp;14 hours ago</span>
      </div>
      <div class="widget-tree-comments-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      </div>
      <div class="widget-tree-comments-footer">
        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="#">Reply</a>
      </div>
    </div>

    <hr class="m-y-1 m-x-2">

    <!-- Form -->
    <form class="widget-tree-comments-item">
      <img src="assets/demo/avatars/1.jpg" alt="" class="widget-tree-comments-avatar">
      <textarea rows="3" class="form-control widget-tree-comments-input" placeholder="Write your comment..."></textarea>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>

<!-- / Comments -->
