<!-- Custom styling -->
<style>
  .page-blog-posts-item {
    padding-top: 10px;
  }

  .page-blog-posts-item .panel-body {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-blog-posts-content {
    font-size: 18px;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    line-height: 1.7;
  }

  .page-blog-posts-image {
    text-align: center;
    margin-top: 20px;
  }

  .page-blog-posts-image img {
    max-width: 100%;
  }
</style>
<!-- / Custom styling -->

<div class="page-header p-y-4 text-xs-center">
  <h1 class="font-weight-bold">BLOG</h1>
</div>

<!-- Post -->

<div class="panel page-blog-posts-item">
  <div class="panel-body p-b-0">
    <h2 class="font-weight-bold text-default m-a-0"><a ui-sref="pages.blog.post">7 future web design trends</a></h2>
    <div class="m-t-1"><span class="text-muted">by</span> <a href="#">John Doe</a><span class="text-muted">&nbsp;&nbsp;·&nbsp;&nbsp;June 12, 2016</span></div>
  </div>

  <div class="page-blog-posts-image">
    <img src="assets/demo/blog/1.jpg" alt="">
  </div>

  <div class="page-blog-posts-content panel-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis,
      erat ut faucibus interdum, velit erat elementum libero, ut efficitur
      dolor velit eget odio. Ut at nunc rhoncus, dignissim metus id, posuere
      sem. Phasellus venenatis eu turpis id vehicula. Fusce tristique quam
      blandit lorem malesuada euismod.
    </p>
  </div>

  <div class="panel-body p-y-0">
    <a ui-sref="pages.blog.post">Read more...</a>
  </div>

  <div class="panel-body clearfix">
    <div class="pull-md-left">
      <a href="#" class="label label-outline">Webdesign</a>
      <a href="#" class="label label-outline">UI / UX</a>
      <a href="#" class="label label-outline">Coding</a>
    </div>

    <!-- Spacing -->
    <div class="m-t-1"></div>

    <div class="pull-md-right text-muted">
      <a href="#"><i class="fa fa-heart-o"></i> 45</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-comment-o"></i> 7</a>
    </div>
  </div>
</div>

<!-- / Post -->

<!-- Post -->

<div class="panel page-blog-posts-item">
  <div class="panel-body p-b-0">
    <h2 class="font-weight-bold text-default m-a-0"><a ui-sref="pages.blog.post">Scalable design & viewport engines</a></h2>
    <div class="m-t-1"><span class="text-muted">by</span> <a href="#">John Doe</a><span class="text-muted">&nbsp;&nbsp;·&nbsp;&nbsp;June 10, 2016</span></div>
  </div>

  <div class="page-blog-posts-content panel-body">
    <p>
      Nunc et dui quis lacus tristique ullamcorper quis sit amet massa.
      In ullamcorper vitae erat mollis viverra. Cras rhoncus bibendum urna,
      vitae congue velit suscipit vel. Fusce facilisis posuere quam, at
      accumsan diam pretium et.
    </p>
    <p>
      Aenean gravida elit a ante ultricies, non dignissim magna sollicitudin.
      In ligula turpis, suscipit sed ullamcorper eu, efficitur non lacus.
      Nulla et est tempus, pulvinar turpis in, scelerisque tellus. Vivamus
      aliquam dolor nec risus semper consectetur. Maecenas dapibus lacus dapibus
      eros gravida, sed tempor orci blandit.
    </p>
  </div>

  <div class="panel-body p-y-0">
    <a ui-sref="pages.blog.post">Read more...</a>
  </div>

  <div class="panel-body clearfix">
    <div class="pull-md-left">
      <a href="#" class="label label-outline">Webdesign</a>
      <a href="#" class="label label-outline">UI / UX</a>
      <a href="#" class="label label-outline">Coding</a>
    </div>

    <!-- Spacing -->
    <div class="m-t-1"></div>

    <div class="pull-md-right text-muted">
      <a href="#"><i class="fa fa-heart-o"></i> 45</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-comment-o"></i> 7</a>
    </div>
  </div>
</div>

<!-- / Post -->

<!-- Post -->

<div class="panel page-blog-posts-item">
  <div class="panel-body p-b-0">
    <h2 class="font-weight-bold text-default m-a-0"><a ui-sref="pages.blog.post">Web Design Trends For 2016</a></h2>
    <div class="m-t-1"><span class="text-muted">by</span> <a href="#">John Doe</a><span class="text-muted">&nbsp;&nbsp;·&nbsp;&nbsp;June 8, 2016</span></div>
  </div>

  <div class="page-blog-posts-image">
    <img src="assets/demo/blog/2.jpg" alt="">
  </div>

  <div class="page-blog-posts-content panel-body">
    <p>
      Nunc quis ipsum in ligula fringilla consectetur ullamcorper ut tortor.
      Donec lobortis enim ac eleifend ornare.
    </p>
    <p>
      In enim lectus, dignissim nec sagittis at, varius vitae dolor. Quisque
      risus eros, laoreet at rutrum vel, gravida eget nulla. Donec blandit
      dignissim lorem elementum molestie. Fusce vitae metus quis dui lobortis
      pulvinar nec ac tellus.
    </p>
    <p>
      Morbi non dolor sed tortor dapibus placerat vel sed tortor.
      Pellentesque maximus eleifend dui nec condimentum. Etiam malesuada eu
      nunc sed pharetra. Vestibulum vel arcu arcu. Cras laoreet enim ac
      hendrerit placerat.
    </p>
  </div>

  <div class="panel-body p-y-0">
    <a ui-sref="pages.blog.post">Read more...</a>
  </div>

  <div class="panel-body clearfix">
    <div class="pull-md-left">
      <a href="#" class="label label-outline">Webdesign</a>
      <a href="#" class="label label-outline">UI / UX</a>
      <a href="#" class="label label-outline">Coding</a>
    </div>

    <!-- Spacing -->
    <div class="m-t-1"></div>

    <div class="pull-md-right text-muted">
      <a href="#"><i class="fa fa-heart-o"></i> 45</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-comment-o"></i> 7</a>
    </div>
  </div>
</div>

<!-- / Post -->

<!-- Post -->

<div class="panel page-blog-posts-item">
  <div class="panel-body p-b-0">
    <h2 class="font-weight-bold text-default m-a-0"><a ui-sref="pages.blog.post">Web Design for Beginners</a></h2>
    <div class="m-t-1"><span class="text-muted">by</span> <a href="#">John Doe</a><span class="text-muted">&nbsp;&nbsp;·&nbsp;&nbsp;May 21, 2016</span></div>
  </div>

  <div class="page-blog-posts-content panel-body">
    <p>
      In congue, justo a fringilla posuere, velit elit laoreet est, aliquam
      pulvinar sem lectus in nisi. Aliquam nisl dui, commodo vitae aliquam ac,
      tristique et nunc. Mauris malesuada, massa eget interdum vulputate,
      mi tortor eleifend urna, ac porta lectus metus non eros. Vivamus eget
      libero sit amet metus placerat mattis quis eu mi. Nunc et ex magna.
    </p>
  </div>

  <div class="panel-body p-y-0">
    <a ui-sref="pages.blog.post">Read more...</a>
  </div>

  <div class="panel-body clearfix">
    <div class="pull-md-left">
      <a href="#" class="label label-outline">Webdesign</a>
      <a href="#" class="label label-outline">UI / UX</a>
      <a href="#" class="label label-outline">Coding</a>
    </div>

    <!-- Spacing -->
    <div class="m-t-1"></div>

    <div class="pull-md-right text-muted">
      <a href="#"><i class="fa fa-heart-o"></i> 45</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-comment-o"></i> 7</a>
    </div>
  </div>
</div>

<!-- / Post -->

<a href="#" class="widget-more-link b-a-1 font-size-14 font-weight-normal">Load more</a>
