<!-- Custom styling -->
<style>
  .page-forums-list-item,
  .page-forums-list-item .box,
  .page-forums-list-item .box-cell {
    overflow: visible !important;
    -webkit-mask-image: none !important;
  }

  .page-forums-list-title a {
    display: inline-block;
    padding-bottom: 4px;
  }
</style>
<!-- / Custom styling -->

<div class="page-header p-y-4">
  <div class="box m-a-0 bg-transparent">
    <h1 class="box-cell col-md-7 col-lg-8 col-xl-9 font-weight-bold"><i class="page-header-icon ion-chatbubbles"></i>FORUMS</h1>

    <!-- Spacer -->
    <hr class="visible-xs visible-sm">

    <div class="box-cell col-md-5 col-lg-4 col-xl-3">
      <form class="input-group">
        <input type="text" name="s" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </span>
      </form>
    </div>
  </div>
</div>

<div class="page-forums-list-item box panel p-y-2 p-x-3">
  <div class="box-row">
    <div class="page-forums-list-title box-cell col-md-7 col-lg-8 col-xl-9 p-r-4">
      <a ui-sref="pages.forum.topics" class="font-size-15 font-weight-bold">General Web Design</a>
      <div>
        Pellentesque sit amet urna eu nibh semper facilisis id quis nisl. Mauris
        semper nunc ut mauris tincidunt luctus.
      </div>
    </div>

    <!-- Spacer -->
    <hr class="visible-xs visible-sm m-y-2">

    <div class="box-cell col-md-5 col-lg-4 col-xl-3 valign-middle text-md-center">
      <!-- Reset container's height by wrapping in a div -->
      <div class="pull-md-right">
        <div class="box-container width-md-auto valign-middle">
          <div class="box-cell p-l-1 p-r-3">
            <div class="font-size-14"><strong>156</strong></div>
            <div class="font-size-11 text-muted line-height-1">topics</div>
          </div>
          <div class="box-cell p-x-3 b-l-1">
            <div class="font-size-14"><strong>812</strong></div>
            <div class="font-size-11 text-muted line-height-1">replies</div>
          </div>
          <div class="box-cell p-l-3 p-r-1 b-l-1">
            <div class="font-size-11 text-muted">updated</div>
            <div class="font-size-14 line-height-1"><span class="font-size-12">3h ago</span>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-forums-list-item box panel p-y-2 p-x-3">
  <div class="box-row">
    <div class="page-forums-list-title box-cell col-md-7 col-lg-8 col-xl-9 p-r-4">
      <a ui-sref="pages.forum.topics" class="font-size-15 font-weight-bold">Clients & Pricing</a>
      <div>
        Pellentesque sit amet urna eu nibh semper facilisis id quis nisl. Mauris
        semper nunc ut mauris tincidunt luctus.
      </div>
    </div>

    <!-- Spacer -->
    <hr class="visible-xs visible-sm m-y-2">

    <div class="box-cell col-md-5 col-lg-4 col-xl-3 valign-middle text-md-center">
      <!-- Reset container's height by wrapping in a div -->
      <div class="pull-md-right">
        <div class="box-container width-md-auto valign-middle">
          <div class="box-cell p-l-1 p-r-3">
            <div class="font-size-14"><strong>234</strong></div>
            <div class="font-size-11 text-muted line-height-1">topics</div>
          </div>
          <div class="box-cell p-x-3 b-l-1">
            <div class="font-size-14"><strong>1,108</strong></div>
            <div class="font-size-11 text-muted line-height-1">replies</div>
          </div>
          <div class="box-cell p-l-3 p-r-1 b-l-1">
            <div class="font-size-11 text-muted">updated</div>
            <div class="font-size-14 line-height-1"><span class="font-size-12">15m ago</span>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-forums-list-item box panel p-y-2 p-x-3">
  <div class="box-row">
    <div class="page-forums-list-title box-cell col-md-7 col-lg-8 col-xl-9 p-r-4">
      <a ui-sref="pages.forum.topics" class="font-size-15 font-weight-bold">Freelancing</a>
      <div>
        Pellentesque sit amet urna eu nibh semper facilisis id quis nisl. Mauris
        semper nunc ut mauris tincidunt luctus.
      </div>
    </div>

    <!-- Spacer -->
    <hr class="visible-xs visible-sm m-y-2">

    <div class="box-cell col-md-5 col-lg-4 col-xl-3 valign-middle text-md-center">
      <!-- Reset container's height by wrapping in a div -->
      <div class="pull-md-right">
        <div class="box-container width-md-auto valign-middle">
          <div class="box-cell p-l-1 p-r-3">
            <div class="font-size-14"><strong>14</strong></div>
            <div class="font-size-11 text-muted line-height-1">topics</div>
          </div>
          <div class="box-cell p-x-3 b-l-1">
            <div class="font-size-14"><strong>56</strong></div>
            <div class="font-size-11 text-muted line-height-1">replies</div>
          </div>
          <div class="box-cell p-l-3 p-r-1 b-l-1">
            <div class="font-size-11 text-muted">updated</div>
            <div class="font-size-14 line-height-1"><span class="font-size-12">25m ago</span>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-forums-list-item box panel p-y-2 p-x-3">
  <div class="box-row">
    <div class="page-forums-list-title box-cell col-md-7 col-lg-8 col-xl-9 p-r-4">
      <a ui-sref="pages.forum.topics" class="font-size-15 font-weight-bold">Jobs</a>
      <div>
        Pellentesque sit amet urna eu nibh semper facilisis id quis nisl. Mauris
        semper nunc ut mauris tincidunt luctus.
      </div>
    </div>

    <!-- Spacer -->
    <hr class="visible-xs visible-sm m-y-2">

    <div class="box-cell col-md-5 col-lg-4 col-xl-3 valign-middle text-md-center">
      <!-- Reset container's height by wrapping in a div -->
      <div class="pull-md-right">
        <div class="box-container width-md-auto valign-middle">
          <div class="box-cell p-l-1 p-r-3">
            <div class="font-size-14"><strong>100</strong></div>
            <div class="font-size-11 text-muted line-height-1">topics</div>
          </div>
          <div class="box-cell p-x-3 b-l-1">
            <div class="font-size-14"><strong>333</strong></div>
            <div class="font-size-11 text-muted line-height-1">replies</div>
          </div>
          <div class="box-cell p-l-3 p-r-1 b-l-1">
            <div class="font-size-11 text-muted">updated</div>
            <div class="font-size-14 line-height-1"><span class="font-size-12">8h ago</span>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-forums-list-item box panel p-y-2 p-x-3">
  <div class="box-row">
    <div class="page-forums-list-title box-cell col-md-7 col-lg-8 col-xl-9 p-r-4">
      <a ui-sref="pages.forum.topics" class="font-size-15 font-weight-bold">Help</a>
      <div>
        Pellentesque sit amet urna eu nibh semper facilisis id quis nisl. Mauris
        semper nunc ut mauris tincidunt luctus.
      </div>
    </div>

    <!-- Spacer -->
    <hr class="visible-xs visible-sm m-y-2">

    <div class="box-cell col-md-5 col-lg-4 col-xl-3 valign-middle text-md-center">
      <!-- Reset container's height by wrapping in a div -->
      <div class="pull-md-right">
        <div class="box-container width-md-auto valign-middle">
          <div class="box-cell p-l-1 p-r-3">
            <div class="font-size-14"><strong>25</strong></div>
            <div class="font-size-11 text-muted line-height-1">topics</div>
          </div>
          <div class="box-cell p-x-3 b-l-1">
            <div class="font-size-14"><strong>199</strong></div>
            <div class="font-size-11 text-muted line-height-1">replies</div>
          </div>
          <div class="box-cell p-l-3 p-r-1 b-l-1">
            <div class="font-size-11 text-muted">updated</div>
            <div class="font-size-14 line-height-1"><span class="font-size-12">5d ago</span>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
