<ol class="breadcrumb page-breadcrumb" ng-show="showBreadcrumb">
  <li><a href="index.html">Home</a></li>
  <li><a href="index.html">Library</a></li>
  <li class="active">Data</li>
</ol>

<div class="page-header">
  <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-monitor"></i>UI elements / </span>Misc</h1>
</div>

<div class="row">
  <div class="col-md-6">

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Labels, badges & tags</div>
      </div>
      <div class="panel-body">
        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">LABELS</h6>

        <a href="#" class="label">Default</a>
        <a href="#" class="label label-primary">Primary</a>
        <a href="#" class="label label-success">Success</a>
        <a href="#" class="label label-warning">Warning</a>
        <a href="#" class="label label-danger">Danger</a>
        <a href="#" class="label label-info">Info</a>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">TAGS</h6>

        <a href="#" class="label label-tag">Default</a>
        <a href="#" class="label label-primary label-tag">Primary</a>
        <a href="#" class="label label-success label-tag">Success</a>
        <a href="#" class="label label-warning label-tag">Warning</a>
        <a href="#" class="label label-danger label-tag">Danger</a>
        <a href="#" class="label label-info label-tag">Info</a>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">PILLS</h6>

        <a href="#" class="label label-pill">Default</a>
        <a href="#" class="label label-primary label-pill">Primary</a>
        <a href="#" class="label label-success label-pill">Success</a>
        <a href="#" class="label label-warning label-pill">Warning</a>
        <a href="#" class="label label-danger label-pill">Danger</a>
        <a href="#" class="label label-info label-pill">Info</a>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">WITHIN HEADING</h6>

        <h1 class="m-t-0">Example heading <span class="label label-primary">New</span></h1>
        <h2 class="m-t-0">Example heading <span class="label label-success label-tag">New</span></h2>
        <h4 class="m-t-0">Example heading <span class="label label-info label-pill">New</span></h4>
        <h4 class="m-t-0">Example heading <span class="label label-warning">New</span></h4>
        <h5 class="m-t-0">Example heading <span class="label label-danger">New</span></h5>
        <h6 class="m-t-0">Example heading <span class="label">New</span></h6>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">WITH IMAGE</h6>

        <a href="#" class="label">
          <img src="assets/demo/avatars/1.jpg" class="label-image left">
          John
        </a>
        <a href="#" class="label label-primary">
          <img src="assets/demo/avatars/2.jpg" class="label-image left">
          Robert
        </a>
        <a href="#" class="label label-success">
          <img src="assets/demo/avatars/3.jpg" class="label-image left">
          Michelle
        </a>
        <a href="#" class="label label-warning">
          <img src="assets/demo/avatars/4.jpg" class="label-image right">
          Timothy
        </a>
        <a href="#" class="label label-danger">
          <img src="assets/demo/avatars/5.jpg" class="label-image right">
          Denise
        </a>
        <a href="#" class="label label-info">
          <img src="assets/demo/avatars/1.jpg" class="label-image right">
          John
        </a>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">OUTLINE</h6>

        <a href="#" class="label label-outline">Default</a>
          <a href="#" class="label label-primary label-pill label-outline">Primary</a>
          <a href="#" class="label label-success label-outline">
            <img src="assets/demo/avatars/3.jpg" class="label-image left">
            Michelle
          </a>
          <a href="#" class="label label-warning label-outline">Warning</a>
          <a href="#" class="label label-danger label-pill label-outline">Danger</a>
          <a href="#" class="label label-info label-outline">
            <img src="assets/demo/avatars/1.jpg" class="label-image right">
            John
          </a>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">CORNER</h6>

        <div class="row">
          <div class="col-lg-6">
            <div style="position: relative;" class="bg-white b-a-1 p-a-1 m-b-2">
              <a href="#" class="label label-primary label-corner left">
                <span class="label-corner-content"><i class="fa fa-heart"></i></span>
              </a>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
          <div class="col-lg-6">
            <div style="position: relative;" class="bg-white b-a-1 p-a-1 m-b-2">
              <span class="label label-warning label-corner right">
                <span class="label-corner-content"><i class="fa fa-star"></i></span>
              </span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">RIBBON</h6>

        <div class="row">
          <div class="col-lg-6">
            <div style="position: relative;" class="bg-white b-a-1 p-a-1 m-b-2">
              <a href="#" class="label label-primary label-ribbon left">
                <i class="fa fa-heart"></i> Like!
              </a>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
          <div class="col-lg-6">
            <div style="position: relative;" class="bg-white b-a-1 p-a-1 m-b-2">
              <span class="label label-warning label-ribbon right label-outline">
                <i class="fa fa-star"></i> Starred
              </span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">List groups</div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <a href="#" class="list-group-item">Cras justo odio<span class="label label-success">14</span></a>
          <a href="#" class="list-group-item active">Dapibus ac facilisis in<span class="label label-danger label-pill">2</span></a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item disabled"><i class="list-group-icon fa fa-bomb"></i>Porta ac consectetur ac<span class="label label-warning label-pill">12</span></a>
          <a href="#" class="list-group-item"><i class="list-group-icon fa fa-comment-o"></i>Vestibulum at eros</a>
        </ul>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">CUSTOM CONTENT</h6>

        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Dropdowns</div>
      </div>
      <div class="panel-body">
        <div class="clearfix">
          <ul class="dropdown-menu dropdowns-demo" style="display: block; position: relative;">
            <li><a href="#"><span class="label label-success pull-right">34</span>Action</a></li>
            <li><a href="#"><span class="badge badge-info pull-right">16</span>Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="#"><i class="fa fa-cloud"></i>&nbsp;&nbsp;With icon</a></li>
            <li><a href="#">Last action</a></li>
          </ul>
        </div>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">MULTI-LEVEL</h6>

        <div uib-dropdown>
          <button type="button" class="btn" uib-dropdown-toggle>
            Multi-level dropdown
          </button>
          <div uib-dropdown-menu>
            <li><a href="#">First action</a></li>

            <li class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <a href>Second action</a>
              <ul class="dropdown-menu">
                <li><a href="#">First action</a></li>
                <li><a href="#">Second action</a></li>

                <li class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <a href>Third action</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">First action</a></li>
                    <li><a href="#">Second action</a></li>
                  </ul>
                </li>

              </ul>
            </li>

            <li><a href="#">Third action</a></li>

            <li class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <a href>Fourth action</a>
              <ul class="dropdown-menu">
                <li><a href="#">First action</a></li>
                <li><a href="#">Second action</a></li>
              </ul>
            </li>
          </div>
        </div>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">MULTI-COLUMN</h6>

        <div uib-dropdown>
          <button uib-dropdown-toggle type="button" class="btn">
            Multi-column dropdown
          </button>
          <div class="dropdown-multi-column">
            <div class="dropdown-menu dropdown-column col-md-4">
              <li class="dropdown-header">Business</li>
              <li><a href="#">Design &amp; Urban Ecologies</a></li>
              <li><a href="#">Fine Art</a></li>
              <li><a href="#">Fashion Design</a></li>
              <li><a href="#">Strategic Design</a></li>
            </div>
            <div class="dropdown-menu dropdown-column col-md-4">
              <li class="dropdown-header">Liberal Arts</li>
              <li><a href="#">Anthropology</a></li>
              <li><a href="#">Media Studies</a></li>
              <li><a href="#">Philosophy</a></li>
            </div>
            <div class="dropdown-menu dropdown-column col-md-4">
              <li class="dropdown-header">Social Sciences</li>
              <li><a href="#">Food Studies</a></li>
              <li><a href="#">Journalism</a></li>
              <li><a href="#">Non Profit Management</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Breadcrumbs</div>
      </div>
      <div class="panel-body">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">INVERTED</h6>

        <div style="background: #478e9e;">
          <ol class="breadcrumb breadcrumb-inverted">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
          </ol>
        </div>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">PAGE BREADCRUMB</h6>

        <button class="btn btn-small btn-primary" ng-click="showBreadcrumb = !showBreadcrumb">Toggle page breadcrumb</button>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Progress</div>
      </div>
      <div class="panel-body">
        <uib-progressbar value="50" type="primary" />
        <uib-progressbar value="40" type="success" />
        <uib-progressbar value="20" type="info" />
        <uib-progressbar value="60" type="warning" />
        <uib-progressbar value="80" type="danger" />

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">STRIPED</h6>

        <uib-progressbar value="50" type="primary" class="progress-striped" />
        <uib-progressbar value="40" type="success" class="progress-striped" />
        <uib-progressbar value="20" type="info" class="progress-striped" />
        <uib-progressbar value="60" type="warning" class="progress-striped" />
        <uib-progressbar value="80" type="danger" class="progress-striped" />

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">ANIMATED</h6>

        <uib-progressbar value="50" type="primary" class="progress-striped active" />
        <uib-progressbar value="40" type="success" class="progress-striped active" />
        <uib-progressbar value="20" type="info" class="progress-striped active" />
        <uib-progressbar value="60" type="warning" class="progress-striped active" />
        <uib-progressbar value="80" type="danger" class="progress-striped active" />
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Pagination</div>
      </div>
      <div class="panel-body" ng-init="curPage = 1; totalItems = 175">
        <nav uib-pagination ng-model="curPage" total-items="totalItems" max-size="5" force-ellipses="true" previous-text="«" next-text="»" boundary-link-numbers="true"></nav>

        <nav uib-pager ng-model="curPage" total-items="totalItems" align="false"></nav>
        <nav uib-pager ng-model="curPage" total-items="totalItems"></nav>

        <hr class="page-wide-block">

        <h6 class="m-t-0 m-b-2 font-weight-semibold text-muted">SIZES</h6>

        <nav class="pagination-xs" uib-pagination ng-model="curPage" total-items="totalItems" max-size="5" force-ellipses="true" previous-text="«" next-text="»" boundary-link-numbers="true"></nav>
        <nav class="pager-xs" uib-pager ng-model="curPage" total-items="totalItems"></nav>

        <nav class="pagination-sm" uib-pagination ng-model="curPage" total-items="totalItems" max-size="5" force-ellipses="true" previous-text="«" next-text="»" boundary-link-numbers="true"></nav>
        <nav class="pager-sm" uib-pager ng-model="curPage" total-items="totalItems"></nav>

        <nav class="pagination-lg" uib-pagination ng-model="curPage" total-items="totalItems" max-size="5" force-ellipses="true" previous-text="«" next-text="»" boundary-link-numbers="true"></nav>
        <nav class="pager-lg" uib-pager ng-model="curPage" total-items="totalItems"></nav>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Notes</div>
      </div>
      <div class="panel-body">
        <div class="note note-success">
          <h4 class="note-title">Success note title</h4>
          <p>Success note text here.</p>
        </div>

        <div class="note note-danger">
          <h4 class="note-title">Danger note title</h4>
          <p>Danger note text here.</p>
        </div>

        <div class="note note-warning">
          <h4 class="note-title">Warning note title</h4>
          <p>Warning note text here.</p>
        </div>

        <div class="note note-info">
          <h4 class="note-title">Info note title</h4>
          <p>Info note text here.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="panel-title">Wizard</div>
  </div>
  <div class="panel-body">
    <px-wizard class="wizard-bordered">
      <div class="wizard-wrapper">
        <ul class="wizard-steps">
          <li data-target="#wizard-example-step1">
            <span class="wizard-step-number">1</span>
            <span class="wizard-step-complete"><i class="fa fa-check text-success"></i></span>
            <span class="wizard-step-caption">
              Step 1
              <span class="wizard-step-description">First step description</span>
            </span>
          </li>
          <li data-target="#wizard-example-step2" class="active">
            <span class="wizard-step-number">2</span>
            <span class="wizard-step-complete"><i class="fa fa-check text-success"></i></span>
            <span class="wizard-step-caption">
              Step 2
              <span class="wizard-step-description">Second step description</span>
            </span>
          </li>
          <li data-target="#wizard-example-step3">
            <span class="wizard-step-number">3</span>
            <span class="wizard-step-complete"><i class="fa fa-check text-success"></i></span>
            <span class="wizard-step-caption">
              Step 3
              <span class="wizard-step-description">Third step description. Lorem ipsum dolor sit amet</span>
            </span>
          </li>
          <li data-target="#wizard-example-step4">
            <span class="wizard-step-number">4</span>
            <span class="wizard-step-complete"><i class="fa fa-check text-success"></i></span>
            <span class="wizard-step-caption">
              Finish
            </span>
          </li>
        </ul>
      </div>
      <div class="wizard-content">
        <div class="wizard-pane" id="wizard-example-step1">
          <h4 class="m-y-2">Step 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
          </p>
          <div class="pull-right">
            <button type="button" class="btn btn-primary" data-wizard-action="next">Next</button>
          </div>
        </div>
        <div class="wizard-pane" id="wizard-example-step2">
          <h4 class="m-y-2">Step 2</h4>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
            est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
            modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
            veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
            commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
            nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          </p>
          <div class="pull-right">
            <button type="button" class="btn" data-wizard-action="prev">Prev</button>
            <button type="button" class="btn btn-primary" data-wizard-action="next">Next</button>
          </div>
        </div>
        <div class="wizard-pane" id="wizard-example-step3">
          <h4 class="m-y-2">Step 3</h4>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>
          <div class="pull-right">
            <button type="button" class="btn" data-wizard-action="prev">Prev</button>
            <button type="button" class="btn btn-primary" data-wizard-action="next">Next</button>
          </div>
        </div>
        <div class="wizard-pane" id="wizard-example-step4">
          <h4 class="m-y-2">Finish</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <div class="pull-right">
            <button type="button" class="btn" data-wizard-action="prev">Prev</button>
            <button type="button" class="btn btn-primary" data-wizard-action="finish">Finish</button>
          </div>
        </div>
      </div>
    </px-wizard>
  </div>
</div>
