<!-- Custom styling -->
<style>
  .page-signup-header,
  .page-signup-container {
    position: relative;
    z-index: 10;
  }

  .page-signup-header {
    box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  }

  .px-content > div > .page-signup-header {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
  }

  .page-signup-header .btn {
    position: absolute;
    top: 12px;
    right: 15px;
  }

  html[dir="rtl"] .page-signup-header .btn {
    right: auto;
    left: 15px;
  }

  .page-signup-container {
    width: auto;
    margin: 30px 10px;
  }

  .page-signup-container form {
    border: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  }

  responsive-bg {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: -1;
  }

  @media (min-width: 544px) {
    .page-signup-container {
      width: 350px;
      margin: 60px auto;
    }
  }

  .page-signup-social-btn {
    width: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    border: none !important;
  }
</style>
<!-- / Custom styling -->

<div ng-controller="PagesSignUpCtrl as ctrl">
  <div class="page-signup-header p-a-2 text-sm-center bg-white">
    <a ui-sref="dashboards.default" class="px-demo-brand px-demo-brand-lg text-default"><span class="px-demo-logo bg-primary m-t-0"><span class="px-demo-logo-1"></span><span class="px-demo-logo-2"></span><span class="px-demo-logo-3"></span><span class="px-demo-logo-4"></span><span class="px-demo-logo-5"></span><span class="px-demo-logo-6"></span><span class="px-demo-logo-7"></span><span class="px-demo-logo-8"></span><span class="px-demo-logo-9"></span></span>PixelAdmin</a>
    <a ui-sref="authentication.signin2" class="btn btn-primary">Sign In</a>
  </div>

  <div class="page-signup-container">
    <h2 class="authentication-v2-header m-t-0 m-b-4 text-xs-center font-weight-semibold font-size-20">Create an Account</h2>

    <form name="signUpForm" ng-submit="ctrl.signUp()" class="panel p-a-4" novalidate>
      <fieldset class="form-group form-group-lg" ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.fullName.$touched) && signUpForm.fullName.$invalid }">
        <input ng-model="ctrl.user.fullName" required name="fullName" type="text" class="form-control" placeholder="Full Name">
        <div ng-show="signUpForm.$submitted || signUpForm.fullName.$touched">
          <small class="form-message light" ng-show="signUpForm.fullName.$error.required">Please enter your name.</small>
        </div>
      </fieldset>

      <fieldset class="form-group form-group-lg" ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.email.$touched) && signUpForm.email.$invalid }">
        <input ng-model="ctrl.user.email" required name="email" type="email" class="form-control" placeholder="Email">
        <div ng-show="signUpForm.$submitted || signUpForm.email.$touched">
          <small class="form-message light" ng-show="signUpForm.email.$error.required">Please enter your email.</small>
          <small class="form-message light" ng-show="signUpForm.email.$error.email">Email is invalid.</small>
        </div>
      </fieldset>

      <fieldset class="form-group form-group-lg" ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.username.$touched) && signUpForm.username.$invalid }">
        <input ng-model="ctrl.user.username" required minlength="3" maxlength="20" name="username" type="text" class="form-control" placeholder="Username">
        <div ng-show="signUpForm.$submitted || signUpForm.username.$touched">
          <small class="form-message light" ng-show="signUpForm.username.$error.required">Please enter your username.</small>
          <small class="form-message light" ng-show="signUpForm.username.$error.minlength">Please enter at least 3 characters.</small>
          <small class="form-message light" ng-show="signUpForm.username.$error.maxlength">Please enter no more than 20 characters.</small>
        </div>
      </fieldset>

      <fieldset class="form-group form-group-lg" ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.password.$touched) && signUpForm.password.$invalid }">
        <input ng-model="ctrl.user.password" required minlength="6" maxlength="32" name="password" type="password" class="form-control" placeholder="Password">
        <div ng-show="signUpForm.$submitted || signUpForm.password.$touched">
          <small class="form-message light" ng-show="signUpForm.password.$error.required">Please enter password.</small>
          <small class="form-message light" ng-show="signUpForm.password.$error.minlength">Please enter at least 6 characters.</small>
          <small class="form-message light" ng-show="signUpForm.password.$error.maxlength">Please enter no more than 32 characters.</small>
        </div>
        <small class="text-muted" ng-hide="(signUpForm.$submitted || signUpForm.password.$touched) && signUpForm.password.$invalid">Minimum 6 characters</small>
      </fieldset>

      <label class="custom-control custom-checkbox" ng-class="{ 'has-error': (signUpForm.$submitted || signUpForm.agreed.$touched) && signUpForm.agreed.$invalid }">
        <input ng-model="agreed" required name="agreed" type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        I agree with the <a href="#" target="_blank">Terms and Conditions</a>
      </label>

      <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Sign Up</button>
    </form>

    <h4 class="authentication-v2-social m-y-3 text-xs-center font-weight-semibold text-muted">or sign up with</h4>

    <div class="text-xs-center">
      <a ui-sref="dashboards.default" class="page-signup-social-btn btn btn-success btn-rounded" uib-tooltip="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
      <a ui-sref="dashboards.default" class="page-signup-social-btn btn btn-info btn-rounded" uib-tooltip="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
      <a ui-sref="dashboards.default" class="page-signup-social-btn btn btn-danger btn-rounded" uib-tooltip="Google+"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
</div>

<responsive-bg background-image="null" />
