<!-- Custom styling -->
<style>
  .page-about-us-header.page-header {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .page-about-us-text {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-about-us-team-avatar {
    width: 80px;
  }

  .page-about-us-team-avatar img {
    width: 100%;
  }
</style>
<!-- / Custom styling -->

<div responsive-bg background-image="'assets/demo/bgs/7.jpg'" overlay="'#000'" class="page-about-us-header page-header m-b-0 b-b-0 text-xs-center bg-default">
  <h1 class="m-b-1 font-size-28 font-weight-bold">About Us</h1><br>
  <span class="font-size-18 font-weight-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</div>

<!-- Contacts -->

<div class="page-wide-block">
  <div class="box m-a-0 valign-middle border-radius-0 text-xs-center font-size-14">
    <a href="#" class="box-cell col-md-4 p-x-1 p-y-2 text-white" style="background: #4ab6d5;"><i class="fa fa-twitter"></i>&nbsp;&nbsp;@pixeladmin</a>
    <a href="#" class="box-cell col-md-4 p-x-1 p-y-2 text-white" style="background: #1a7ab9;"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;PixelAdmin</a>
    <a href="#" class="box-cell col-md-4 p-x-1 p-y-2 text-white" style="background: #888;"><i class="fa fa-envelope"></i>&nbsp;&nbsp;support@pixeladmin.com</a>
  </div>
</div>

<!-- / Contacts -->

<!-- About text -->

<div class="page-about-us-text page-block panel m-y-0 b-a-0 border-radius-0 font-size-16">
  <div class="m-x-auto" style="max-width: 800px;">
    <p>
      Pellentesque sit amet urna eu nibh semper facilisis id quis nisl. Mauris
      semper nunc ut mauris tincidunt luctus. Curabitur a venenatis ante. Duis
      massa purus, convallis non eros at, tincidunt bibendum mi. In fermentum
      finibus sapien in venenatis.
    </p>
    <p>
      Morbi tempor ipsum vel placerat maximus. Donec
      hendrerit iaculis lacus vel gravida. Sed id diam id nisi fermentum porta
      a vel tellus. Suspendisse malesuada pharetra quam a fermentum. Cras euismod
      sem eu neque ultrices iaculis. Suspendisse sed purus ut nunc interdum vehicula
      non quis quam. Nam elementum dapibus quam, ac vestibulum urna. Suspendisse
      vel iaculis nisi. Vivamus mollis nibh sem, eget hendrerit diam feugiat ut.
      Maecenas condimentum facilisis tellus sed ultricies.
    </p>
    <p>
      Etiam mollis, est a condimentum eleifend, velit lorem scelerisque arcu,
      quis consectetur elit ante eu risus.
    </p>
  </div>
</div>

<!-- / About text -->

<!-- Map -->

<div class="page-wide-block m-b-4">
  <div class="box border-radius-0 m-a-0">
    <div class="box-cell col-md-4 col-lg-3 p-x-4 p-y-3 valign-middle bg-black">
      <h4 class="m-t-0">PixelAdmin Ltd.</h4>
      <div><small><strong>330 North Brand Boulevard</strong></small></div>
      <div><small>Glendale, CA 91203, USA</small></div>
    </div>
    <div class="box-cell col-md-8 col-lg-9" style="height: 150px;">
      <div class="widget-maps" id="contacts-map"></div>
    </div>
  </div>
</div>

<!-- / Map -->

<!-- Team -->

<h3 class="m-y-4 p-t-4 text-xs-center">The Team</h3>

<div class="row">
  <div class="col-md-6">
    <div class="panel box">
      <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
        <img src="assets/demo/avatars/1.jpg" alt="" class="border-round">
      </div>
      <div class="box-cell p-y-2 p-x-3 valign-middle">
        <div class="font-size-14"><strong>John Doe</strong></div>
        <p class="text-muted font-size-11 font-weight-semibold">FOUNDER & CEO</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        <div>
          <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel box">
      <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
        <img src="assets/demo/avatars/2.jpg" alt="" class="border-round">
      </div>
      <div class="box-cell p-y-2 p-x-3 valign-middle">
        <div class="font-size-14"><strong>Robert Jang</strong></div>
        <p class="text-muted font-size-11 font-weight-semibold">CO-FOUNDER & FINANCIAL DIRECTOR</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        <div>
          <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel box">
      <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
        <img src="assets/demo/avatars/3.jpg" alt="" class="border-round">
      </div>
      <div class="box-cell p-y-2 p-x-3 valign-middle">
        <div class="font-size-14"><strong>Michelle Bortz</strong></div>
        <p class="text-muted font-size-11 font-weight-semibold">DESIGNER</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        <div>
          <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel box">
      <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
        <img src="assets/demo/avatars/4.jpg" alt="" class="border-round">
      </div>
      <div class="box-cell p-y-2 p-x-3 valign-middle">
        <div class="font-size-14"><strong>Timothy Owens</strong></div>
        <p class="text-muted font-size-11 font-weight-semibold">SENIOR ENGINEER</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        <div>
          <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel box">
      <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
        <img src="assets/demo/avatars/5.jpg" alt="" class="border-round">
      </div>
      <div class="box-cell p-y-2 p-x-3 valign-middle">
        <div class="font-size-14"><strong>Denise Steiner</strong></div>
        <p class="text-muted font-size-11 font-weight-semibold">CUSTOMER SUPPORT SPECIALIST</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        <div>
          <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- / Team -->

<script>
  (function() {
    // Google Maps docs - https://developers.google.com/maps/documentation/javascript/examples/map-simple
    new google.maps.Map(document.getElementById('contacts-map'), {
      zoom: 11,
      center: {lat: -34.397, lng: 150.644}
    });
  })();
</script>
