<!-- Custom styling -->
<style>
  .widget-pricing,
  .pricing-page-customers-logos {
    max-width: 800px;
  }

  .pricing-page-header.page-header {
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 160px;

    border: none;
    border-radius: 0;
  }

  .widget-pricing {
    margin-top: -90px;
  }

  .pricing-page-customers {
    margin-top: 50px;
    margin-bottom: 50px;

    background: rgba(0, 0, 0, .04);
  }

  .pricing-page-customers-logos {
    margin: 0 auto;

    opacity: .4;
  }

  .pricing-page-customers-logos img {
    height: 50px;
    margin: 0 10px;
  }
</style>
<!-- / Custom styling -->

<div class="pricing-page-header page-header panel text-xs-center">
  <h1 class="font-size-24 font-weight-bold m-b-1">Get started with a 14-day no-obligation free trial.</h1>
  <p class="m-b-4 font-size-18 text-muted">Easy setup. See results in minutes. No credit card required.</p>
  <a href="#" class="btn btn-lg btn-primary font-weight-bold">START FOR FREE</a>
</div>

<hr class="page-wide-block m-y-0">

<!-- Plans & pricing -->

<div class="widget-pricing widget-pricing-expanded">
  <div class="widget-pricing-inner row">
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <h2 class="widget-pricing-plan">Starter</h2>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>12</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>5</strong> users<br>
          <strong>10</strong> projects<br>
          <strong>100GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <h2 class="widget-pricing-plan">Pro</h2>
        <div class="widget-pricing-section p-y-2 bg-primary">
          <div class="font-size-24"><small>$</small>36</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>20</strong> users<br>
          <strong>100</strong> projects<br>
          <strong>300GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-primary">Choose</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-pricing-item">
        <h2 class="widget-pricing-plan">Team</h2>
        <div class="widget-pricing-section p-y-2 bg-white darker">
          <div class="font-size-24"><small>$</small>200</div>
          <div class="font-size-11 font-weight-semibold text-muted">PER MONTH</div>
        </div>
        <div class="widget-pricing-section">
          <strong>Unlimited</strong> users<br>
          <strong>Unlimited</strong> projects<br>
          <strong>1000GB</strong> space<br>
        </div>
        <div class="widget-pricing-section"><button type="button" class="btn btn-lg btn-outline btn-primary btn-outline-colorless">Contact Us</button></div>
      </div>
    </div>
  </div>
</div>

<!-- / Plans & pricing -->

<!-- Customers -->

<div class="pricing-page-customers page-block p-y-4 text-xs-center">
  <div class="m-t-0 text-muted m-b-2 font-size-18 font-weight-semibold">Thousands of happy customers, including:</div>
  <div class="pricing-page-customers-logos">
    <img src="assets/demo/customers/1.png">
    <img src="assets/demo/customers/2.png">
    <img src="assets/demo/customers/3.png">
    <img src="assets/demo/customers/4.png">
    <img src="assets/demo/customers/5.png">
    <img src="assets/demo/customers/6.png">
    <img src="assets/demo/customers/7.png">
    <img src="assets/demo/customers/8.png">
    <img src="assets/demo/customers/9.png">
    <img src="assets/demo/customers/10.png">
    <img src="assets/demo/customers/11.png">
    <img src="assets/demo/customers/12.png">
    <img src="assets/demo/customers/13.png">
    <img src="assets/demo/customers/14.png">
    <img src="assets/demo/customers/15.png">
    <img src="assets/demo/customers/16.png">
    <img src="assets/demo/customers/17.png">
  </div>
</div>

<!-- / Customers -->

<h3 class="m-y-4 text-xs-center">Common questions</h3>

<!-- FAQ -->

<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-title">What is included in the free trial?</div>
      <div class="panel-body">
        All plans begin with a 14-day no-obligation trial of our Pro tier.
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">What happens when my free trial expires?</div>
      <div class="panel-body">
        When your trial expires we'll downgrade you to our free tier. Our free tier is limited to a single user and 2 projects.
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">Do you offer yearly plans?</div>
      <div class="panel-body">
        If you pay for a year upfront (optional) you are eligible for a 15% discount.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-title">Do you restrict features with a free trial?</div>
      <div class="panel-body">
        While trials are more limited than paid accounts, you will be able to try most of our features.
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">What payment methods do you accept?</div>
      <div class="panel-body">
        Visa, MasterCard, and American Express. For annual plans we also accept Paypal, checks, and wire transfers.
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">Do you have a setup cost?</div>
      <div class="panel-body">
        Absolutely not. All plans are month to month with no contracts, no setup fees, and no hidden gimmicks. Cancel anytime.
      </div>
    </div>
  </div>
</div>

<!-- / FAQ -->
