<div class="page-header">
  <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>Tables / </span>Editable table</h1>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="panel-title">Editable table</div>
  </div>
  <div class="panel-body">
    <table editable-table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cost</th>
          <th>Profit</th>
          <th>Fun</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Car</td>
          <td>100</td>
          <td>200</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Bike</td>
          <td>330</td>
          <td>240</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Plane</td>
          <td>430</td>
          <td>540</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Yacht</td>
          <td>100</td>
          <td>200</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Segway</td>
          <td>330</td>
          <td>240</td>
          <td>1</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th><strong>TOTAL</strong></th>
          <th>1290</th>
          <th>1420</th>
          <th>5</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
